@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.rr {
    margin-top: 200px;
    margin-left: 130px;
    font-size: 18px;
    font-weight: 800px;
    font-family: 'Oswald', sans-serif;
    border: 5px solid #000;
    width: 900px;
    justify-content: center;
}
 
.row {
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}
/*
.fff {
    background-color: #aaeb9d;
    font-family: 'Roboto Condensed', sans-serif;
}
*/

.fff {
    margin-left: 190px;  
    font-size: 20px;
}

.in-name {
    margin-left: 10.5rem;
    width: 30rem;
}

.in-email {
    margin-left: 8.3rem;
    width: 30rem;
}

.in-num {
    margin-left: 3rem;
    width: 30rem;
}

.in-mes {
    margin-left: 8rem;
    width: 30rem;
}

.eee {
    margin-top: 2rem;
}

.phph {
    margin-top: 2rem;
}

.messss {
    margin-top: 2rem;
}

.butn {
    margin-left: 150px;
    font-size: 30px;
    margin-top: 25px;
    margin-bottom: 25px;
    font-family: 'Roboto Condensed', sans-serif;
}

.logo-form {
    height: 120px;
    width: 120px;
    margin-left: 120px;
    margin-bottom: 30px;
}