

.head {
    margin-top: 150px;
    border-bottom: 4px solid #fff;
}

.aa {
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
    border: 4px groove #666;
    margin: 25px;
    font-style: inherit;
    font-size: 24px;
    min-height: 320px;
    backdrop-filter: blur(3px);
}

h2 {
    color: #000;
    font-weight: 800;
}

.i {
    border-radius: 50%;
    max-width: 200px;
}

.i1 {
    vertical-align: bottom;
    float: right;
}

.p1 {
    @media (max-width: 620px) {
      width: 100%;
    }
}

.i2 {
    vertical-align: top;
    float: left;
    margin-right: 9px;
}

.p2 {
    @media (max-width: 620px) {
      width: 100%;
    }
}


