@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.head {
    margin-top: 150px;
    border-bottom: 4px solid #fff;
   /* font-family: 'Playfair Display', serif;*/
    font-family: 'Anton', sans-serif;
    font-size: 30px;
}

.aa {
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
    border: 4px groove #666;
    margin: 35px;
    font-style: inherit;
    font-size: 24px;
    min-height: 320px;
    backdrop-filter: blur(3px);
}

cite {
    color: #222;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    font-style: italic;
}

h2 {
    color: #000;
    font-weight: 800;
}

.i {
    border-radius: 50%;
    max-width: 200px;
}

.i1 {
    vertical-align: bottom;
    float: right;
}

.p1 {
    @media (max-width: 620px) {
      width: 100%;
    }
}

.i2 {
    vertical-align: top;
    float: left;
    margin-right: 9px;
}

.p2 {
    @media (max-width: 620px) {
      width: 100%;
    }
}


