@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.about {
    background-color: #fff;
    font-family: 'Oswald', sans-serif;
    /*width: 1400px;
    margin-left: 70px;*/
}

.a-t {
    margin: 2rem 2rem;
}

.tet {
    font-size: 28px;
}
.cont {
    margin: 0px;
}

.log-sc {
    height: 250px;
    margin-left: 1200px; 
    margin-top: 0px;
    margin-bottom: 4rem;
}

p {
    font-size: 20px;
}

.white-bggg {
    margin-top: 30px;
}

.sceee {
    font-size: 40px;
}

.header {
    margin-top: 5rem;
    color: #fff !important;
}

.ab-team {
    color: #fff;
    margin-top: 3rem;
}

.white-bgg2, .white-bggg{
    background-color: transparent;
    width: 100%;
    align-items: center;
    text-align: center;
    margin-bottom: 0px;
    /* color: #fff; */
    font-weight: 500;
}

.white-bgg2 {
    color: #fff;
}
.ab-te {
    font-size: 24px;
}

.ab-te:hover {
    color: red;
}

.insta {
    margin-right: 20px;
}

.insta:hover {
    color: pink;
    margin-right: 20px;
}

.linkedin:hover {
    color: blue;
}

.column3 {
    /* float: right; */
    width: 100%;
    padding: 0px;
    align-self: center;
    align-items: center;
}

.column2 {
    float: left;
    width: 100%;
    padding: 5px;
    margin: 10px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
  }