{% extends 'base.html' %}

{%block head%}
<link rel="stylesheet" href="static/css/blogs.css" />

{% endblock %}

{%body block%}


    <div class="container">
        <div class='text-center head bbb txt-white'>
            <h1> BLOGS </h1>
        </div>
    </div>

    <div class='container'>
        <div class='card c1'>
            <div class='card-header row'>
                <h2>Geocells</h2>
                <cite><i class="fa fa-calendar" aria-hidden="true"></i> 5 May 2020
                    <i class="fa fa-folder-o" aria-hidden="true"></i> SCEE DTU</cite>
            </div>
                <div class="card-body row">
                
                    <div class="col-sm-8">
                        <p>For engineers, it has been a routine challenge how to optimally manage available natural and capital
                        to construct high-quality roads and to minimize repair and maintenance costs, the poor tensile
                        strength of the soil.
                        A sustainable option to manage high quality is to stabilize pavement...A
                        sustainable option to manage high quality is to stabilize pavement <span id="dots1">...</span><span id="more1">Bacon ipsum dolor amet ground round shankle shank capicola, sirloin pork chop cow biltong beef ribs brisket buffalo kielbasa chicken. Cow biltong bacon, salami tri-tip tongue drumstick bresaola shankle porchetta frankfurter boudin. Leberkas chislic ham hock, burgdoggen beef flank frankfurter spare ribs pork loin pork chop prosciutto t-bone bresaola brisket. Drumstick jowl swine, frankfurter turducken leberkas chislic. Ham turkey prosciutto corned beef meatball ribeye boudin pork flank shankle meatloaf. Strip steak ham jerky t-bone doner drumstick.

                    T-bone ground round beef venison jowl tongue pork chop. Tongue short ribs short loin, capicola shoulder leberkas doner ham hock. Pork loin jowl ground round chicken leberkas tenderloin. Meatball frankfurter beef ribs rump ham hock jerky venison pastrami. Frankfurter drumstick leberkas ham chicken, alcatra short loin meatloaf short ribs kevin. Chuck cow kevin fatback cupim, ham boudin t-bone hamburger shoulder drumstick spare ribs bresaola.

                    Bresaola pork belly shankle burgdoggen venison meatloaf frankfurter beef pork pancetta chicken sausage. Biltong chislic burgdoggen sausage doner fatback landjaeger buffalo capicola turducken jerky pork belly meatball leberkas. Capicola tenderloin alcatra rump t-bone prosciutto. Pork chop fatback chuck, shoulder biltong ground round alcatra meatloaf buffalo.</span>
                        <button type="menu" onclick="b1()" class='btn btn-success' id="readMore1">Continue reading</button></p>
                    
                    </div>
                    
                    <div class="col-sm-4">
                        <img src='https://sceedtu.files.wordpress.com/2020/05/strataweb-500x500-1.jpg?w=500&h=312&crop=1'
                            class='blog-image i1 img-fluid mr-2 rounded col' alt='Geocells'>
                    </div>
                </div>

        </div>
        <div class='card c2'>
            <div class='card-header row'>
                <h2>Unconventional Construction Materials</h2>
                <cite>
                    <i class="fa fa-calendar" aria-hidden="true"></i> 25 Apr 2020
                    <i class="fa fa-folder-o" aria-hidden="true"></i> SCEE DTU
                </cite>
            </div>
            <div class="card-body row">

                <div class="col-sm-8">
                    <p>There are a lot of materials which are currently playing a huge amount of role being used as
                    Construction Materials. As engineers, we need to analyse the properties of materials and find out
                    the ways in which these can be used or applied in the best economic ways. The conventional materials
                    used for the constructions<span id="dots2">…</span><span id="more2">Bacon ipsum dolor amet ground round shankle shank capicola, sirloin pork chop cow biltong beef ribs brisket buffalo kielbasa chicken. Cow biltong bacon, salami tri-tip tongue drumstick bresaola shankle porchetta frankfurter boudin. Leberkas chislic ham hock, burgdoggen beef flank frankfurter spare ribs pork loin pork chop prosciutto t-bone bresaola brisket. Drumstick jowl swine, frankfurter turducken leberkas chislic. Ham turkey prosciutto corned beef meatball ribeye boudin pork flank shankle meatloaf. Strip steak ham jerky t-bone doner drumstick.

                    T-bone ground round beef venison jowl tongue pork chop. Tongue short ribs short loin, capicola shoulder leberkas doner ham hock. Pork loin jowl ground round chicken leberkas tenderloin. Meatball frankfurter beef ribs rump ham hock jerky venison pastrami. Frankfurter drumstick leberkas ham chicken, alcatra short loin meatloaf short ribs kevin. Chuck cow kevin fatback cupim, ham boudin t-bone hamburger shoulder drumstick spare ribs bresaola.

                    Bresaola pork belly shankle burgdoggen venison meatloaf frankfurter beef pork pancetta chicken sausage. Biltong chislic burgdoggen sausage doner fatback landjaeger buffalo capicola turducken jerky pork belly meatball leberkas. Capicola tenderloin alcatra rump t-bone prosciutto. Pork chop fatback chuck, shoulder biltong ground round alcatra meatloaf buffalo.</span> 
                    <button type="menu" onclick="b2()" class='btn btn-success' id="readMore2">Continue reading</button></p>
                    
                </div>
                
                <div class="col-sm-4">
                    <img src='https://sceedtu.files.wordpress.com/2020/04/image.png'
                        class='blog-image i2 img-fluid mr-2 rounded col' alt='UCM'>
                </div>
            </div>
        </div>
        <div class='card'>
            <div class='card-header'>
                <h2>Blog3</h2>
            </div>
            <div class='card-body'>
                <p>ABSTRACT OF THE BLOG</p>
            </div>
        </div>
        <div class='card'>
            <div class='card-header'>
                <h2>Blog4</h2>
            </div>
            <div class='card-body'>
                <p>ABSTRACT OF THE BLOG</p>
            </div>
        </div>
        <div class='card'>
            <div class='card-header'>
                <h2>Blog5</h2>
            </div>
            <div class='card-body'>
                <p>ABSTRACT OF THE BLOG</p>
            </div>
        </div>
    </div>


    <!-- SCRIPTS -->


    <script src="../../assets/js/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->

    <!--modernizr.min.js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>


    <!--bootstrap.min.js-->
    <script src="../../assets/js/bootstrap.min.js"></script>

    <!-- bootsnav js -->
    <script src="../../assets/js/bootsnav.js"></script>

    <!-- jquery.filterizr.min.js -->
    <script src="../../assets/js/jquery.filterizr.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

    <!--jquery-ui.min.js-->
    <script src="../../assets/js/jquery-ui.min.js"></script>

    <!-- counter js -->
    <script src="../../assets/js/jquery.counterup.min.js"></script>
    <script src="../../assets/js/waypoints.min.js"></script>

    <!--owl.carousel.js-->
    <script src="../../assets/js/owl.carousel.min.js"></script>

    <!-- jquery.sticky.js -->
    <script src="../../assets/js/jquery.sticky.js"></script>

    <!--datepicker.js-->
    <script src="../../assets/js/datepicker.js"></script>

    <!--Custom JS-->
    <script src="../../assets/js/custom.js"></script>

    <!--Blog JS-->
    <script src="/static/js/blog.js"></script>

    {% endblock %}