@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.head {
  margin-top: 70px;
  border-bottom: 4px solid #fff;
   /* font-family: 'Playfair Display', serif;*/
  font-family: 'Anton', sans-serif;
  font-size: 100px;
}

cite {
  color: #222;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 18px;
}

.caption {
  margin: 10px;
}

.cards-grid {
  padding-top: 30px;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 80px;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}

.card {
  width: 90%;
  background-color: #f7f7f7;
  margin-right: auto;
  margin-left: auto;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 5px #e4e4e4;
}

.card-org {
  border-radius: 16px;
  background-color: #f7f7f7;
  padding-top: 0.1px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 3px;
  border: none;
  box-shadow: 1px 1px 5px #c9c9c9;
}

.org-view {
  border: none;
  padding: 12px;
  font-size: 7px;
  margin-top: 10px;
  height: fit-content;
  cursor: pointer;
  outline: none;
  background: none;
  border-radius: 10px;
}
  
.line {
  display: flex;
  justify-content: space-between;
}

.org-view:hover {
  background-color: none;
}
  
.org-view img {
  width: 18px;
}

.orgdes {
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 200;
}

.org-name {
  font-weight: 500;
  font-size: 26px;
  color: #00558e;
  padding-top: 15px;
}

.tag {
  padding: 3px 10px;
  display: inline;
  border-radius: 500px;
  border: none;
  font-weight: 300;
  margin: auto 5px;
  white-space: nowrap;
  font-size: 14px;
  cursor: pointer;
  outline: none;
  background-color: #222;
  color: #fff;
}
  
.tag:hover {
  box-shadow: 0 1px 5px rgb(209, 209, 209);
  transition-duration: 0.2s;
}

.a-text{
  color: #3498db;
}
  
.bx-shadow{
  box-shadow: 10px 10px #333;
}
  
.bs-shadow{
  box-shadow: 0px 0px #333;
  border-bottom: 5px solid #333333;
}
  
.as-shadow{
  box-shadow: 4px 4px #333;
}
  
.b-b{
  border-bottom: 0.5px solid #333;
}

.pop {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
}

.pop-content {
  background-color: white;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  padding-left: 40px;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-right: 30px;
  width: 50%;
}

.pop-heading {
  color: #3498db;
  font-weight: 800;
}

.pop-flex {
  display: flex;
  justify-content: space-between;
}
  
.closeBtn {
  font-size: 30px;
  color: #5db3ec;
}

.closeBtn:hover {
  color: black;
  text-shadow: 2px 2px 2px #9e9c9c;
  cursor: pointer;
  transition-duration: 0.1s;
}
  
.giturl {
  font-size: 15px;
  color: gray;
}
  
.url {
  color: #3498db;
  font-size: 13px;
}
  
.Abt {
    color: #3498db;
    font-weight: 600;
    font-size: 23px;
    margin-top: 40px;
    margin-bottom: 10px;
}
  
.toprep {
    color: #3498db;
    font-weight: 600;
    font-size: 23px;
    margin-top: 30px;
    margin-bottom: 15px;
}
  
.silt {
    font-weight: 500;
    margin-bottom: 5px;
}
  
.org-side-box {
    border-radius: 16px;
    background-color: #f7f7f7;
    padding-top: 0.1px;
    padding-right: 20px;
    padding-left: 20px;
    border: none;
    box-shadow: 1px 1px 5px #c9c9c9;
    margin-top: 30px;
    width: 200px;
}
  
.side {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 20px;
}

@media screen and (max-width: 990px) {
  .org {
      flex-direction: column-reverse;
      height: fit-content;
      text-align: center;
      padding: 0;
  }
  
  .right-col,
  .left-col {
      width: 95%;
      padding-bottom: 20px;
  }
  
  .right-col img {
      margin-top: 20px;
      position: unset;
      float: unset;
      width: 40%;
  }
    
  .org-heading {
      font-size: 30px;
  }
    
  .left-col p {
      font-size: 12px;
  }
   
  .top-bar {
      width: 95%;
  }
    
  .cards-grid {
      grid-template-columns: auto;
      width: 95%;
      grid-gap: 20px;
  }
    
  .orgdes {
      font-size: 14px;
  }
    
  .org-name {
      font-size: 20px;
  }
  
    /* adding media querries for modal box */
  
  .pop-content {
      width: 95%;
      margin-top: 20px;
      text-align: center;
      margin-bottom: 20px;
  }
  
  .giturl {
    text-align: left;
  }
  
  .bottom-row {
      flex-direction: column;
  }
  
  .pop-heading {
      font-size: 30px;
  }
  
  .org-side-box {
      /* centering the boxes */
      margin-right: auto;
      margin-left: auto;
  
      width: 80%;
  }
}
  